@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');


.text-font{
font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  color:white;
  font-size: 50px;
}
.texts-fns{
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  font-size: 35px;
}